{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
    {{- .Page.Scratch.SetInMap "this" "tablesort" true -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $toc := $params.toc -}}
    {{- if eq $toc true -}}
    {{- $toc = .Site.Params.page.toc | default dict -}}
    {{- else if eq $toc false -}}
    {{- $toc = dict "enable" false -}}
    {{- end -}}
    
    <div
    class="relative bg-gradient-article pt-16 sm:pt-20 lg:pt-24 xl:pt-28 isolate"
  >
    <div class="absolute inset-x-0 -bottom-72 h-96">
      <div class="w-full h-full flex-center overflow-hidden">
        <img
          src="/images/img-exclude-white.svg"
          alt
          class="w-full h-full min-w-[768px]"
        />
      </div>
    </div>
    <div
      class="flex flex-col-reverse lg:flex-row justify-between w-full max-w-screen-2xl mx-auto text-secondary-500 px-12 lg:pl-40 xl:pr-0 pt-12 xl:pt-16 pb-16 isolate"
    >
      <div class="max-w-2xl lg:mr-12 break-hyphen">
        <nav aria-label="breadcrumb">
          <ol class="flex flex-wrap items-center text-sm leading-none font-bold mb-4 sm:mb-2" >
            <li class="pr-1">
              <a href="/index.html" class="flex items-center text-primary-500 py-1">
                <div class="h-5 w-5">
                  <svg class="w-full h-full" fill="currentcolor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512" >
                    <path d="M280.37 148.26 96 300.11V464a16 16 0 0016 16l112.06-.29a16 16 0 0015.92-16V368a16 16 0 0116-16h64a16 16 0 0116 16v95.64a16 16 0 0016 16.05L464 480a16 16 0 0016-16V3e2L295.67 148.26a12.19 12.19.0 00-15.3.0zM571.6 251.47 488 182.56V44.05a12 12 0 00-12-12h-56a12 12 0 00-12 12v72.61L318.47 43a48 48 0 00-61 0L4.34 251.47a12 12 0 00-1.6 16.9l25.5 31A12 12 0 0045.15 301l235.22-193.74a12.19 12.19.0 0115.3.0L530.9 301a12 12 0 0016.9-1.6l25.5-31a12 12 0 00-1.7-16.93z"></path>
                  </svg>
                </div>
                <span class="ml-2">Home</span>
              </a>
            </li>
            <li class="flex items-center">
              <div class="h-4 w-4">
                <svg
                  class="w-full h-full"
                  fill="currentcolor"
                  viewbox="0 0 512 512"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <path
                    d="m15 0h525.355a15 15 0 0115 15v38.555a15 15 0 01-15 15H15a15 15 0 01-15-15V15a15 15 0 0115-15z"
                    transform="matrix(-.5 .8660254 -.8660254 -.5 424.048 32.277)"
                  ></path>
                </svg>
              </div>
              <a
                href="blog.html"
                class="flex items-center text-primary-500 px-1 py-1"
                >Articles</a
              >
            </li>
            <li class="flex items-center text-secondary-500">
              <div class="h-4 w-4">
                <svg
                  class="w-full h-full"
                  fill="currentcolor"
                  viewbox="0 0 512 512"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <path
                    d="m15 0h525.355a15 15 0 0115 15v38.555a15 15 0 01-15 15H15a15 15 0 01-15-15V15a15 15 0 0115-15z"
                    transform="matrix(-.5 .8660254 -.8660254 -.5 424.048 32.277)"
                  ></path>
                </svg>
              </div>
              <span class="px-1 py-1">{{ .Title }}</span
              >
            </li>
          </ol>
        </nav>
        <div class="text-6xl leading-none font-bold mb-2">{{ .Title }}</div>
        <div class="text-2xl leading-snug mb-4">
          {{- with $params.subtitle -}}{{ . }}{{- end -}}
          {{ .Summary }}
        </div>
        <div class="flex flex-wrap items-center -ml-2 mb-8">
          {{- with .Params.tags -}}
          {{- range $index, $value := . -}}
              {{- if gt $index 0 }},&nbsp;{{ end -}}
              {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
              <a href="{{ $tag.RelPermalink }}" class="flex items-center text-xs uppercase text-primary-500 font-bold m-2">
                <span class="h-5 w-5 mr-1"><svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentcolor" >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512.0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828.0l-7-7A1.994 1.994.0 013 12V7a4 4 0 014-4z"></path>
              </svg> </span>{{- $tag.Title -}}</a>
          {{- end -}}
          {{- end -}}
        </div>
        <div class="flex items-center">
          <div class="w-16 h-16 overflow-hidden rounded-full shadow-lg">
            {{- $author := .Params.author | default .Site.Author.name | default (T "author") -}}
            {{- $link := .Params.authorlink | default .Site.Author.link | default .Site.Home.RelPermalink -}}
            {{- $gravatar := 0 -}}
            {{- with .Site.Author.gravataremail -}}
                {{- $gravatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=240&d=mp" -}}
            {{- end -}}
            {{- $avatar := .Params.authoravatar | default .Site.Author.avatar | default $gravatar | default false -}}
            {{- $options := dict "Class" "author" "Destination" $link "Title" "Author" "Rel" "author" "Content" $author -}}
            {{- if $avatar -}}
                {{- dict "Width" "16" "Height" "16" "Src" $avatar "Alt" (printf "%v avatar" $author)  "Class" "w-full h-full object-cover" | partial "plugin/image.html" -}}
            {{- else -}}
                {{- partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "user-circle") -}}
            {{- end -}}
            {{- partial "plugin/link.html" $options -}}
          </div>
          <div class="ml-4">
            <div class="text-secondary-500 text-lg font-bold">
              Author: {{ partial "meta/author.html" . }}
            </div>
            <div class="text-gray-500 text-md font-semibold">
              {{- with .Site.Params.dateformat | default "2006-01-02" | .PublishDate.Format -}}
              Published: <time datetime="{{ . }}">{{ . }}</time>
              {{- end -}}
            </div>
            <div class="text-gray-500 text-md font-semibold">
              {{- if $params.enableLastMod | default true -}}
              {{- with .Site.Params.dateformat | default "2006-01-02" | .Lastmod.Format -}}
              Updated: <time datetime="{{ . }}">{{ . }}</time>
              {{- end -}}
              {{- end -}}
            </div>
          </div>
        </div>
      </div>
      <div
        class="relative flex-shrink-0 flex-grow max-w-lg min-w-80 pb-8 lg:pb-0 -mt-12 lg:mt-0 transform md:transform-none scale-110 -z-1"
      >
      {{- /* Featured image */ -}}
      {{- $image := $params.featuredImage -}}
      {{- with $image -}}
          {{- $optim := slice 
                  (dict "Process" "resize 800x webp q75" "descriptor" "800w")
                  (dict "Process" "resize 1200x webp q75" "descriptor" "1200w")
                  (dict "Process" "resize 1600x webp q75" "descriptor" "1600w") 
              -}}
              {{- dict "Src" . "OptimConfig" $optim "Class" "w-full lg:absolute-center drop-shadow-glow" | partial "plugin/image.html" -}}
      {{- end -}}    
      </div>
    </div>
  </div>
  <div
    id="main"
    class="w-full max-w-screen-2xl mx-auto px-8 lg:px-40 my-24 isolate"
  >
    <main>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-12 xl:gap-x-24">
        <div class="lg:col-span-2 copy text-base leading-loose">
          {{- partial "single/outdatedArticleReminder.html" . -}}
          {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}

          {{ partial "external-links.html" . }}

        </div>
        <aside class="order-first lg:order-last lg:pt-12">
          <div
            class="lg:sticky lg:top-24 overflow-y-auto"
            x-data="taToc"
            data-length="197"
            data-threshold="400"
            data-elements="6"
            data-title-show
            data-title-hide
          >

            <h2
              class="relative text-3xl lg:text-xl font-bold leading-tight text-secondary-500"
            >
              Table of contents
            </h2>
            <div class="tableofcontents pt-4 px-1">
              {{- dict "Content" .TableOfContents "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
            </div>
            {{- /* TOC Style */ -}}
            {{- if eq $toc.enable true -}}
                {{- if eq $toc.keepStatic true -}}
                    <script>document.getElementsByTagName("main")[0].setAttribute("autoTOC", "false")</script>
                {{- else -}}
                    <script>document.getElementsByTagName("main")[0].setAttribute("autoTOC", "true")</script>
                {{- end -}}
            {{- else if eq $toc.enable false -}}
                <script>document.getElementsByTagName("main")[0].setAttribute("autoTOC", "false")</script>
            {{- end -}}
          </div>
        </aside>
      </div>

      {{/* Related Content */}}
      {{- if $params.related.enable -}}
          {{- partial "related.html" . -}}
      {{- end -}}

    </main>
  </div>

{{- end -}}
