{{ $content := .Content }}
{{ $urls := slice }}


{{ $matches := findRE `https?://[^\s]+` $content }}
{{ range $matches }}
  {{ if not (or 
    (hasPrefix . "http://fontawesome") 
    (hasPrefix . "https://fontawesome") 
    (hasPrefix . "http://www.w3.org/2000/svg")
  ) }}
  
    {{ $urls = $urls | append . }}
  {{ end }}
{{ end }}

{{ if gt (len $urls) 0 }}
  <h2 class="relative text-3xl font-bold leading-snug text-secondary-500 mb-2 mt-12 -ml-px">
    <div id="all-links" class="onpage-anchor"></div>
    All links in a practical list
  </h2>
  {{ range $urls }}
    <div class="w-full my-6">
      <a href="{{ . }}" class="break-all flex font-bold hover:text-black underline items-center leading-snug text-primary-500" target="_blank">
        <div class="flex-shrink-0 h-5 w-5 mr-2">
          <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentcolor">
            <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828.0 1 1 0 00-1.414 1.414 4 4 0 005.656.0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828.0 1 1 0 101.414-1.414 4 4 0 00-5.656.0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd"></path>
          </svg>
        </div>
        {{ . | safeHTML }}
      </a>
    </div>
  {{ end }}
{{ end }}
