{{- if ne .Site.Params.footer.enable false -}}
<footer role="footer">
  <div
    class="relative w-full bg-gray-100 bg-gradient-to-b from-gray-200 to-white pt-20"
  >
    <div class="absolute inset-x-0 top-0 w-full h-40 text-white">
      <svg
        class="w-full"
        viewbox="0 0 1680 91"
        fill="currentcolor"
        preserveaspectratio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1680 0H0L.324249e-4 61.9736C60.8062 60.5012 108.186 53.8676 158.825 46.7777 211.452 39.4093 267.601 31.548 346 28.4749c62.978-2.4687 133.888 5.1285 211.598 13.4542C669.71 53.9406 795.977 67.4685 933 54.4749c232-22 509 7.4989 747 35.9962V0z"
        ></path>
      </svg>
    </div>
    <div
      class="flex justify-between w-full max-w-screen-2xl mx-auto px-8 lg:px-40 pb-16 pt-8"
    >
      <div class="flex-shrink-0 w-2/12 sm:w-1/12">
        <img src="/images/img-logo-damian-flynn-blue.svg" alt class="w-full" />
      </div>
      <div
        class="flex-grow flex flex-wrap justify-between text-secondary-500 ml-8 pt-4"
      >
        <div class="w-full sm:w-5/12 pb-8 sm:pb-2">
          <p class="text-base font-bold mb-2">Let me introduce myself</p>
          <p class="text-sm text-gray-500 font-regular">
            Front-end development and UX design are working hand in hand to
            create applications that are easy to use and adding great joy to the
            users lifes. This is why I love to do both - Design and Development
            by starting with a minimal viable product, staying focused on the
            benefits and helping people around you to grow individually.
          </p>
        </div>
        <div class="flex-shrink-0 w-4/12 sm:w-2/12 pb-2">
          <p class="text-base font-bold mb-2">Links</p>
          <p class="text-sm leading-tight font-bold">
            <a href="/about.html" class="inline-block text-primary-500 font-semibold hover:text-black hover:underline mb-1 mr-2">About</a>
            <a href="/posts" class="inline-block text-primary-500 font-semibold hover:text-black hover:underline mb-1 mr-2">Articles</a>
            <a href="/contact.html" class="inline-block text-primary-500 font-semibold hover:text-black hover:underline mb-1 mr-2">Contact</a>
            <a href="/work.html" class="inline-block text-primary-500 font-semibold hover:text-black hover:underline mb-1 mr-2">Work</a>
            <a href="/imprint.html" class="inline-block text-primary-500 font-semibold hover:text-black hover:underline mb-1 mr-2">Imprint</a>
            <a href="/privacy.html" class="inline-block text-primary-500 font-semibold hover:text-black hover:underline mb-1 mr-2">Privacy</a>
          </p>
        </div>
        <div class="flex-shrink-0 w-6/12 sm:w-4/12 pb-2">
          <p class="text-base font-bold mb-2">Various topics</p>
          <p class="text-sm leading-tight font-bold">

{{ $allSeries := .Site.Taxonomies.series.ByCount }}
{{ $latestSeries := first 4 $allSeries }}
{{ range $series := $latestSeries }}
  {{ $series_name := $series.Name }}
  {{ $series_path := (printf "/series/%s" (urlize $series.Name)) }}
  {{ $series_page := site.GetPage $series_path }}
  {{ if $series_page }}
  <a href="{{ $series_path | relLangURL }}" class="block text-primary-500 font-semibold hover:text-black hover:underline mb-1">    
  {{ $series_page.Title }} ({{ $series.Count }})</a>
  {{ end }}
{{ end }}


          </p>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 -bottom-2 text-secondary-500">
      <svg
        class="w-full h-12"
        fill="currentcolor"
        viewbox="0 0 1680 52"
        preserveaspectratio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m419 21.2305c-194 0-295-15.23306-418.99999624-12.2305l4298e-8 43L1680 51.9981V41.2042c-80-11.9737-348-48.3153-542-39.97374S613 21.2305 419 21.2305z"
        ></path>
      </svg>
    </div>
  </div>

  <div
    class="relative bg-secondary-500 text-xs font-semibold text-center text-secondary-50"
  >
    <div class="w-full max-w-screen-2xl mx-auto px-8 lg:px-40 pb-6 pt-2">
      <p>
        {{- /* Copyright year */ -}} {{- if ne .Site.Params.footer.copyright
        false -}} {{ partial "plugin/fontawesome.html" (dict "Style" "regular"
        "Icon" "copyright") }} {{- with .Site.Params.footer.since -}} {{- if lt
        . now.Year }}{{ . }} - {{ end }}{{ now.Year -}} {{- else -}} {{ now.Year
        }} {{- end -}} {{- end -}} {{- /* Author */ -}} {{- if ne
        .Site.Params.footer.author false -}}
        <a
          href="{{ $.Site.Author.link | default .Site.Home.RelPermalink }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ .Site.Author.name }}</a
        >
        {{- end -}} {{- /* License */ -}} {{- with .Site.Params.footer.license
        -}} &nbsp;|&nbsp;{{ . | safeHTML }} {{- end -}}
      </p>
      <div class="flex items-center justify-center my-2">
        <a
          href="https://www.instagram.com/markusantonwolf/"
          class="font-extrabold text-white mx-2"
          target="_blank"
          title="Opens in new Window"
          >Instagram </a
        ><a
          href="https://github.com/markusantonwolf"
          class="font-extrabold text-white mx-2"
          target="_blank"
          title="Opens in new Window"
          >GitHub </a
        ><a
          href="https://www.npmjs.com/search?q=%40markusantonwolf"
          class="font-extrabold text-white mx-2"
          target="_blank"
          title="Opens in new Window"
          >NPM </a
        ><a
          href="https://www.linkedin.com/in/markusantonwolf"
          class="font-extrabold text-white mx-2"
          target="_blank"
          title="Opens in new Window"
          >Linkedin</a
        >
      </div>
      <p>
        {{- with .Site.Params.footer.custom -}}{{- safeHTML . -}}{{- end -}}
      </p>
    </div>
  </div>

  {{- /* PWA */ -}} {{- if eq .Site.Params.enablePWA true -}} {{- if eq
  hugo.Environment "production" -}}
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.min.js", { scope: "/" })
        .then(function (registration) {});

      navigator.serviceWorker.ready.then(function (registration) {});
    }
  </script>
  {{- end -}} {{- end -}}
</footer>
{{- end -}}
