{{- if gt .Paginator.TotalPages 1 -}}
<div class="text-center mt-24 mb-12">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-x-12 text-xl font-semibold text-primary-500 mx-auto">
    <div class="flex items-center justify-center md:justify-start">
      {{- if gt $.Paginator.PageNumber 1 -}}
        <a href="{{ $.Paginator.First.URL }}" class="flex items-center text-sm font-bold p-2" title="First page">
          <div class="h-4 w-4 mr-1">
            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentcolor">
              <path fill-rule="evenodd" d="M15.707 15.707a1 1 0 01-1.414.0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414zm-6 0a1 1 0 01-1.414.0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L5.414 10l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
            </svg>
          </div>
          First page
        </a>
      {{- end -}}
      {{- if $.Paginator.HasPrev -}}
        <a href="{{ $.Paginator.Prev.URL }}" class="flex items-center text-sm font-bold p-2" title="Previous page">
          <div class="h-4 w-4 mr-1">
            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentcolor">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414.0z" clip-rule="evenodd"></path>
            </svg>
          </div>
          Previous page
        </a>
      {{- end -}}
    </div>
    <div class="flex justify-center items-center">
      {{- range $.Paginator.Pagers -}}
        {{- $right := sub .TotalPages .PageNumber -}}
        {{- $showNumber := or (le .PageNumber 1) (eq $right 0) -}}
        {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $.Paginator.PageNumber 3)) (lt .PageNumber (add $.Paginator.PageNumber 3))) -}}
        {{- if eq .PageNumber $.Paginator.PageNumber -}}
        <div class="text-3xl font-bold text-secondary-500 p-2">{{ .PageNumber }}</div>
      {{- else -}}
        <a href="{{ .URL }}" class="focus-primary p-2" title="{{ .PageNumber }}">
          <span class="sr-only">{{ .PageNumber }}</span> {{ .PageNumber }}
        </a>
      {{- end -}}

      {{- end -}}
    </div>
    <div class="flex items-center justify-center md:justify-end">
      {{- if $.Paginator.HasNext -}}
        <a href="{{ $.Paginator.Next.URL }}" class="flex items-center text-sm font-bold p-2" title="Next page">Next page
          <div class="h-6 w-6 ml-1">
            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentcolor">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414.0z" clip-rule="evenodd"></path>
            </svg>
          </div>
        </a>
      {{- end -}}
      {{- if lt $.Paginator.PageNumber $.Paginator.TotalPages -}}
        <a href="{{ $.Paginator.Last.URL }}" class="flex items-center text-sm font-bold p-2" title="Last page">Last page
          <div class="h-4 w-4 ml-1">
            <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentcolor">
              <path fill-rule="evenodd" d="M10.293 15.707a1 1 0 010-1.414L14.586 10l-4.293-4.293a1 1 0 111.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414.0z" clip-rule="evenodd"></path>
              <path fill-rule="evenodd" d="M4.293 15.707a1 1 0 010-1.414L8.586 10 4.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414.0z" clip-rule="evenodd"></path>
            </svg>
          </div>
        </a>
      {{- end -}}
    </div>
  </div>
</div>
{{- end -}}
