{{- if and .Site.Params.section.recentlyUpdated.enable (eq $.Paginator.PageNumber 1) -}}
    {{- $hasTitle := false }}
    {{- $postCount := 0 -}}
    {{- $maxPostCount := .Site.Params.section.recentlyUpdated.maxCount | default 10 -}}
    {{- $days := .Site.Params.section.recentlyUpdated.days | default 30 -}}
    {{- range (where .Data.Pages.ByLastmod.Reverse "Section" "!=" "") -}}
        {{- if gt (add .Lastmod.Unix (mul 86900 $days)) now.Unix -}}
            {{- if lt $postCount $maxPostCount -}}
                {{- if ne .Lastmod.Unix .Date.Unix }}
                    {{- $postCount = add $postCount 1 -}}
                    {{- if eq $hasTitle false -}}

                          <section id="call2action">
                            <div class="w-full xl:w-5/6 mx-auto grid grid-cols-1 sm:grid-cols-3 gap-y-4 gap-x-12 mb-12" >
                              <div class="sm:col-span-2">
                                <h3 class="text-4xl font-bold text-secondary-500 leading-tense mb-2" >{{- T "recentlyUpdated" -}}</h3>
                                {{- $hasTitle = true -}}
                              </div>
                            </div>
                          </section>
                    {{- end -}}
                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-y-4 sm:gap-12 my-12">
                        <div class="flex-center h-40 shadow-glow bg-gradient-radius to-blue-100 border border-blue-100 rounded-xl p-4" >
                        {{ if .Params.featuredImage }}
                        {{- /* Featured image */ -}}
                        {{- $image := .Params.featuredImage -}}
                        {{- with $image -}}
                            {{- $optim := slice 
                                    (dict "Process" "resize 800x webp q75" "descriptor" "800w")
                                    (dict "Process" "resize 1200x webp q75" "descriptor" "1200w")
                                    (dict "Process" "resize 1600x webp q75" "descriptor" "1600w") 
                                -}}
                                {{- dict "Src" . "OptimConfig" $optim "Class" "h-full object-contain" | partial "plugin/image.html" -}}
                        {{- end -}}   
                        {{ else }}
                            <img src="/images/img-catagory-undefined.png" alt class="h-full object-contain" />
                          {{ end}}
                        </div>
                        <div class="col-span-2 -mt-4">
                          <div class="text-md font-bold text-secondary-500">{{- $.Site.Params.section.recentlyUpdated.dateFormat | default $.Site.Params.section.dateFormat | default "01-02" | .Lastmod.Format -}}</div>
                          <h2 class="text-3xl font-bold text-primary-500 leading-tense mb-2" >
                            <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
                          </h2>
                          <div class="text-base leading-relaxed">{{ if .Params.summary }}{{- .Params.summary -}}{{ else }}{{ if in .Content "<!--more-->" }}
                                {{- .Summary -}}{{ else }}{{- .Summary | truncate 250 -}}{{ end }}{{ end }}
                          </div>
                          <div class="flex flex-wrap items-center -ml-2 mt-4">


                            {{- with .Params.tags -}}
                            {{- range $index, $value := . -}}
                                {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                                <a href="{{ $tag.RelPermalink }}" class="flex items-center text-xs uppercase text-primary-500 font-bold m-2">
                                  <span class="h-5 w-5 mr-1"><svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentcolor" >
                                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512.0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828.0l-7-7A1.994 1.994.0 013 12V7a4 4 0 014-4z"></path>
                                </svg> </span>{{- $tag.Title -}}</a>
                            {{- end -}}
                            {{- end -}}
                          </div>
                        </div>
                      </div>
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}