{{- $params := .Scratch.Get "params" -}} {{ $related := first
$params.related.count (where (where .Site.Pages ".Params.tags" "intersect"
.Params.tags) "Permalink" "!=" .Permalink) }} {{ with $related }}

<div class="relative -mx-8 lg:-mx-40 xl:-mx-40 2xl:-mx-40 h-16 mb-32">
  <div class="overflow-hidden absolute-center -z-1">
    <div class="w-full h-full flex-center">
      <img
        src="/images/img-separate-gradient.svg"
        loading="eager"
        alt
        class="hidden sm:block w-full min-w-[768px]"
      />
      <img
        src="/images/img-separate.svg"
        loading="eager"
        alt
        class="block sm:hidden w-full min-w-[768px]"
      />
    </div>
  </div>
</div>

<div class="w-full sm:w-2/3 text-center text-secondary-500 mx-auto mb-8">
  <h2 class="relative text-5xl font-bold leading-tense overflow-hidden mb-4">
    <div id="strongmorestrong-articles" class="absolute -top-28"></div>
    <strong>More</strong> articles
  </h2>
  <div class="text-lg leading-normal">
    Thoughts, topics or just solutions I would like to make available to you,
    colleagues and fellow enthusiasts.
  </div>
</div>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-y-12 sm:gap-12 my-12">
  {{ range . }} {{- $params := .Params | merge .Site.Params.page -}} {{
  $relPermalink := .RelPermalink}}
  <a href="{{ $relPermalink }}">
    {{- $image := $params.featuredImagePreview | default $params.featuredImage
    -}} {{- $height := "auto" -}} {{- $width := "auto" -}} {{- with
    .Resources.GetMatch (printf "%s" ($image)) -}} {{- $image = .RelPermalink
    -}} {{- $height = .Height -}} {{- $width = .Width -}} {{- end -}} {{- with
    .Resources.GetMatch "featured-image" -}} {{- $image = .RelPermalink -}} {{-
    $height = .Height -}} {{- $width = .Width -}} {{- end -}} {{- with
    .Resources.GetMatch "featured-image-preview" -}} {{- $image = .RelPermalink
    -}} {{- $height = .Height -}} {{- $width = .Width -}} {{- end -}} {{- with
    $image -}}
    <div
      class="flex-center shadow-glow bg-gradient-radius to-blue-100 border border-blue-100 rounded-xl p-4 h-40 mb-2"
    >
      {{- dict "Src" $image "Class" "h-full object-contain" "Title"
      $.Description | partial "plugin/image.html" -}}
    </div>
    {{- end -}}
    <div class="text-md text-gray-600 leading-relaxed p-2">
      <h3 class="text-xl font-bold text-primary-500 leading-tight mb-2">
        {{ .Title }}
      </h3>
      {{ .Summary }}
    </div>
  </a>
  {{ end }}
</div>
{{ end }}
