{{- define "title" }}
    {{- if (gt .Paginator.PageNumber 1) -}}
        {{ $pageNumber := printf "%v %v %v" (T "prefixPageNumber" ) .Paginator.PageNumber (T "suffixPageNumber" ) }}
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} {{ $pageNumber }} - {{ .Site.Title -}}
    {{- else -}}
         {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
    {{- end -}}
{{- end -}}

{{- define "content" -}}
{{- /* Heading */ -}}
<div class="relative bg-gradient-article pt-16 sm:pt-20 lg:pt-24 xl:pt-28 isolate">
  <div class="absolute inset-x-0 -bottom-72 h-96">
    <div class="w-full h-full flex-center overflow-hidden">
      <img src="/images/img-exclude-white.svg" alt class="w-full h-full min-w-[768px]" />
    </div>
  </div>
  <h1 class="sr-only">Articles</h1>
  {{- if (eq .Paginator.PageNumber 1) -}}

  <div class="relative w-full max-w-screen-2xl mx-auto px-12 xl:pl-40 xl:pr-40 pt-12 lg:pt-24 pb-32 isolate">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-4 lg:gap-12 2xl:-mr-24 2xl:-ml-24">
      <div class="flex-center shadow-glow rounded-xl overflow-hidden max-h-80 lg:max-h-full">
      {{- /* Featured Post */ -}}
      {{- $featuredPosts := where .Pages "Params.featured" true -}}  <!-- Get all featured posts -->
      {{- $recentFeaturedPost := first 1 (sort $featuredPosts "Date" "desc") -}}  <!-- Sort by date and get the most recent -->
      {{- if $recentFeaturedPost -}}  <!-- Check if there is a recent featured post -->
      {{- $post := index $recentFeaturedPost 0 -}}  <!-- Get the first (most recent) post -->

      {{ if $post.Params.featuredImage }}
      {{- /* Featured image */ -}}
      {{- $image := $post.Params.featuredImage -}}
      {{- with $image -}}
          {{- $optim := slice 
                  (dict "Process" "resize 800x webp q75" "descriptor" "800w")
                  (dict "Process" "resize 1200x webp q75" "descriptor" "1200w")
                  (dict "Process" "resize 1600x webp q75" "descriptor" "1600w") 
              -}}
              {{- dict "Src" . "OptimConfig" $optim "Class" "h-full object-contain" | partial "plugin/image.html" -}}
      {{- end -}}   
      {{ else }}
      <img src="/images/img-catagory-undefined.png" alt class="h-full object-contain" />
      {{ end}}
      </div>
      <div class="col-span-2 break-hyphen">
        <nav aria-label="breadcrumb">
          <ol class="flex flex-wrap items-center text-sm leading-none font-bold mb-4 sm:mb-2">
            <li class="pr-1">
              <a href="/index.html" class="flex items-center text-primary-500 py-1">
                <div class="h-5 w-5">
                  <svg class="w-full h-full" fill="currentcolor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M280.37 148.26 96 300.11V464a16 16 0 0016 16l112.06-.29a16 16 0 0015.92-16V368a16 16 0 0116-16h64a16 16 0 0116 16v95.64a16 16 0 0016 16.05L464 480a16 16 0 0016-16V3e2L295.67 148.26a12.19 12.19.0 00-15.3.0zM571.6 251.47 488 182.56V44.05a12 12 0 00-12-12h-56a12 12 0 00-12 12v72.61L318.47 43a48 48 0 00-61 0L4.34 251.47a12 12 0 00-1.6 16.9l25.5 31A12 12 0 0045.15 301l235.22-193.74a12.19 12.19.0 0115.3.0L530.9 301a12 12 0 0016.9-1.6l25.5-31a12 12 0 00-1.7-16.93z"></path></svg>
                </div>
                <span class="ml-2">Home</span>
              </a>
            </li>
            <li class="flex items-center text-secondary-500">
              <div class="h-4 w-4">
                <svg class="w-full h-full" fill="currentcolor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="m15 0h525.355a15 15 0 0115 15v38.555a15 15 0 01-15 15H15a15 15 0 01-15-15V15a15 15 0 0115-15z" transform="matrix(-.5 .8660254 -.8660254 -.5 424.048 32.277)"></path></svg>
              </div>
              <span class="px-1 py-1">{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}</span>
            </li>
          </ol>
        </nav>

        <div class="text-xl text-secondary-500 font-bold">{{- $.Site.Params.section.dateFormat | default "01-02" | $post.Date.Format -}}</div>
        <h2 class="block text-5xl leading-none text-primary-500 break-words font-bold mb-2">
          <a href="{{ $post.Permalink }}">{{ $post.Title }}</a>
        </h2>
        <div class="text-xl leading-relaxed mb-6">
          {{ if $post.Summary }}{{- $post.Summary -}}{{ else }}{{ if in $post.Content "<!--more-->" }}
              {{- $post.Summary -}}{{ else }}{{- $post.Summary | truncate 250 -}}{{ end }}{{ end }}
        </div>
        <div class="flex flex-wrap items-center -ml-2 mb-4">
          {{- with $post.Params.tags -}}
          {{- range $index, $value := . -}}
              {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
              <a href="{{ $tag.RelPermalink }}" class="flex items-center text-xs uppercase text-primary-500 font-bold m-2">
                <span class="h-5 w-5 mr-1"><svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentcolor" >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512.0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828.0l-7-7A1.994 1.994.0 013 12V7a4 4 0 014-4z"></path>
              </svg> </span>{{- $tag.Title -}}</a>
          {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
      </div>
    </div>
  </div>
  {{- else -}}
  <div class="relative w-full max-w-screen-2xl mx-auto px-12 xl:pl-40 xl:pr-40 pt-12 lg:pt-24 pb-32 isolate">
    <div class="w-2/3">
      <nav aria-label="breadcrumb">
        <ol class="flex flex-wrap items-center text-sm leading-none font-bold mb-4 sm:mb-2" >
          <li class="pr-1">
          <a href="/index.html" class="flex items-center text-primary-500 py-1">
              <div class="h-5 w-5">
                <svg class="w-full h-full" fill="currentcolor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 576 512">
                  <path d="M280.37 148.26 96 300.11V464a16 16 0 0016 16l112.06-.29a16 16 0 0015.92-16V368a16 16 0 0116-16h64a16 16 0 0116 16v95.64a16 16 0 0016 16.05L464 480a16 16 0 0016-16V3e2L295.67 148.26a12.19 12.19.0 00-15.3.0zM571.6 251.47 488 182.56V44.05a12 12 0 00-12-12h-56a12 12 0 00-12 12v72.61L318.47 43a48 48 0 00-61 0L4.34 251.47a12 12 0 00-1.6 16.9l25.5 31A12 12 0 0045.15 301l235.22-193.74a12.19 12.19.0 0115.3.0L530.9 301a12 12 0 0016.9-1.6l25.5-31a12 12 0 00-1.7-16.93z" ></path>
                </svg>
              </div>
              <span class="ml-2">Home</span>
            </a>
          </li>
          <li class="flex items-center text-secondary-500">
            <div class="h-4 w-4">
              <svg class="w-full h-full" fill="currentcolor" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="m15 0h525.355a15 15 0 0115 15v38.555a15 15 0 01-15 15H15a15 15 0 01-15-15V15a15 15 0 0115-15z" transform="matrix(-.5 .8660254 -.8660254 -.5 424.048 32.277)"></path>
              </svg>
            </div>
            <span class="px-1 py-1">Articles [{{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}]</span>
          </li>
        </ol>
      </nav>
      <h2 class="block text-5xl leading-none text-secondary-500 break-words font-bold mb-2">
        {{- if (gt .Paginator.PageNumber 1) -}}
        {{ $pageNumber := printf "%v %v %v" (T "prefixPageNumber" ) .Paginator.PageNumber (T "suffixPageNumber" ) }}
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ $pageNumber }} / {{ .Paginator.TotalPages }}
        {{- else -}}
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }}
        {{- end -}}
      </h2>
      <p class="text-xl text-secondary-500 leading-relaxed mb-6">
        Dive into conversational design, where tech talks back,
        understanding emotions and intentions. Join the future of
        engaging, proactive dialogue.
      </p>
    </div>
  </div>
  {{- end -}}
</div>

{{- /* Main Content */ -}}
<div id="main" class="w-full max-w-screen-2xl mx-auto px-8 lg:px-40 my-24 isolate">
  <div class="w-full xl:w-5/6 mx-auto">
    {{- /* Start Item */ -}}
    {{- if .Pages -}}
      {{- partial "recentlyUpdated.html" . -}}
      {{- range .Paginator.PageGroups -}}
      <div class="relative -mx-8 lg:-mx-40 xl:-mx-40 2xl:-mx-40 h-16 mb-32">
        <div class="overflow-hidden absolute-center -z-1">
          <div class="w-full h-full flex-center">
            <img src="/images/img-separate-gradient.svg" loading="eager" alt class="hidden sm:block w-full min-w-[768px]"/>
            <img src="/images/img-separate.svg" loading="eager" alt class="block sm:hidden w-full min-w-[768px]"/>
          </div>
        </div>
      </div>
      <section id="call2action">
        <div class="w-full xl:w-5/6 mx-auto grid grid-cols-1 sm:grid-cols-3 gap-y-4 gap-x-12 mb-12" >
          <div class="sm:col-span-2">
            <h3 class="text-4xl font-bold text-secondary-500 leading-tense mb-2" >{{ .Key }}</h3>
          </div>
        </div>
      </section>
        

        {{- range .Pages -}}
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-y-4 sm:gap-12 my-12">
          <div class="flex-center h-40 shadow-glow bg-gradient-radius to-blue-100 border border-blue-100 rounded-xl p-4" >
            {{ if .Params.featuredImage }}
            {{- /* Featured image */ -}}
            {{- $image := .Params.featuredImage -}}
            {{- with $image -}}
                {{- $optim := slice 
                        (dict "Process" "resize 800x webp q75" "descriptor" "800w")
                        (dict "Process" "resize 1200x webp q75" "descriptor" "1200w")
                        (dict "Process" "resize 1600x webp q75" "descriptor" "1600w") 
                    -}}
                    {{- dict "Src" . "OptimConfig" $optim "Class" "h-full object-contain" | partial "plugin/image.html" -}}
            {{- end -}}   
            {{ else }}
            <img src="/images/img-catagory-undefined.png" alt class="h-full object-contain" />
            {{ end}}
          </div>
          <div class="col-span-2 -mt-4">
            <div class="text-md font-bold text-secondary-500">{{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}</div>
            <h2 class="text-3xl font-bold text-primary-500 leading-tense mb-2" >
              <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
            </h2>
            <div class="text-base leading-relaxed">{{ if .Params.summary }}{{- .Params.summary -}}{{ else }}{{ if in .Content "<!--more-->" }}
              {{- .Summary -}}{{ else }}{{- .Summary | truncate 250 -}}{{ end }}{{ end }}
            </div>
            <div class="flex flex-wrap items-center -ml-2 mt-4">
              {{- with .Params.tags -}}
              {{- range $index, $value := . -}}
                  {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                  <a href="{{ $tag.RelPermalink }}" class="flex items-center text-xs uppercase text-primary-500 font-bold m-2">
                    <span class="h-5 w-5 mr-1"><svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentcolor" >
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512.0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828.0l-7-7A1.994 1.994.0 013 12V7a4 4 0 014-4z"></path>
                  </svg> </span>{{- $tag.Title -}}</a>
              {{- end -}}
              {{- end -}}
            </div>
          </div>
        </div>

        {{- end -}}
        
      {{- end -}}

    {{- /* End Item */ -}}
      {{- partial "paginator.html" . -}}
    {{- end -}}

  </div>
</div>
{{- end -}}
