{{- if .Level | eq 1 -}}
<h1 class="relative text-5xl font-semibold leading-tense text-secondary-500 mb-4 -ml-px" id="{{ .Anchor | safeURL }}"><a href="#{{ .Anchor | safeURL }}" class="header-mark" aria-label="Header mark for '{{ .Text }}'"></a>
  <div id="{{ .Anchor }}" class="absolute -top-28"></div>
  {{ .Text | safeHTML }}
</h1>
{{- else if .Level | eq 2 -}}
<h2 class="relative text-3xl font-bold leading-tight text-secondary-500 mb-2 mt-12 -ml-px">
  <div id="{{ .Anchor }}" class="absolute -top-28"></div>
  {{ .Text | safeHTML }}
</h2>
{{- else if .Level | eq 3 -}}
<h3 class="text-xl font-bold text-primary-500 leading-tight mb-2" id="{{ .Anchor | safeURL }}"><a href="#{{ .Anchor | safeURL }}" class="header-mark" aria-label="Header mark for '{{ .Text }}'"></a>
    {{ .Text | safeHTML }}
</h3>
{{ else }}
<h{{ .Level }} class="heading heading-{{ .Level }}" id="{{ .Anchor | safeURL }}">{{ .Text | safeHTML }}</h{{ .Level }}><a href="#{{ .Anchor | safeURL }}" class="header-mark" aria-label="Header mark for '{{ .Text }}'"></a>
{{ end }}
