{{- define "title" }}
    {{- $paginatorPager := .Scratch.Get "paginatorPager" -}}
    {{- if and $paginatorPager (gt $paginatorPager.PageNumber 1) -}}
        {{- T "prefixPageNumber" }} {{ $paginatorPager.PageNumber }} {{ T "suffixPageNumber" }} - {{ $.Site.Title -}}
    {{ else }}
        {{- $.Site.Title -}}
    {{- end -}}
{{- end -}}

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}
    
    <div class="relative bg-gradient-work">
    {{- /* Profile */ -}}
    {{- if ne $profile.enable false -}}
        {{- partial "home/profile.html" . -}}
    {{- end -}}
    

    <div
    id="main"
    class="w-full max-w-screen-2xl mx-auto px-8 lg:px-40 my-24 isolate"
    >
    {{- partial "home/motto.html" . -}}


        <section id="articles">
          <div
            class="w-full sm:w-2/3 text-center text-secondary-500 mx-auto mb-8"
          >
            <h2
              class="relative text-5xl font-bold leading-tense overflow-hidden mb-4"
            >
              <div
                id="stronglateststrong-articles"
                class="absolute -top-28"
              ></div>
              <strong>Latest</strong> articles
            </h2>
            <div class="text-lg leading-normal">
              Thoughts, topics or solutions I would like to make available to
              you, colleagues and fellow enthusiasts.
            </div>
          </div>
          <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-y-12 sm:gap-12 xl:gap-24 my-12">
          {{- /* Posts */ -}}
          {{- if ne $posts.enable false | and .Site.RegularPages -}}
              {{- /* Paginate */ -}}
              {{- /* Paginate is first call on baseof.html */ -}}
              {{- range first 2 .Paginator.Pages -}}
                {{- .Render "summary" -}}
              {{- end -}}
          {{- end -}}
          </div>
          {{- /* Posts */ -}}
          {{- if ne $posts.enable false | and .Site.RegularPages -}}
              {{- /* Paginate */ -}}
              {{- /* Paginate is first call on baseof.html */ -}}
              {{- range after 2 (first 5 .Paginator.Pages) -}}
                {{- .Render "summary-wide" -}}
              {{- end -}}

          {{- end -}}
          <div class="w-full xl:w-5/6 mx-auto text-center my-12">
            <a
            href="/posts"
              class="inline-flex-center px-8 py-2 bg-primary-500 text-white border-2 border-primary-500 text-sm font-bold rounded-lg shadow-lg"
              >More articles</a
            >
          </div>
        </section>
        <div class="relative -mx-8 lg:-mx-40 xl:-mx-40 2xl:-mx-40 h-16 mb-32">
          <div class="overflow-hidden absolute-center -z-1">
            <div class="w-full h-full flex-center">
              <img
                src="images/img-separate-gradient.svg"
                loading="eager"
                alt
                class="hidden sm:block w-full min-w-[768px]"
              />
              <img
                src="images/img-separate.svg"
                loading="eager"
                alt
                class="block sm:hidden w-full min-w-[768px]"
              />
            </div>
          </div>
        </div>
        <section id="topics">
          <div class="w-full sm:w-2/3 text-center text-secondary-500 mx-auto mb-8" >
            <h2 class="relative text-5xl font-bold leading-tense overflow-hidden mb-4">
              <div id="various-topics" class="absolute -top-28"></div>
              Various topics
            </h2>
            <div class="text-lg leading-normal">
              I enjoy diving into the details so, for those who know me
              personally, it is not surprising that I chose to summarize this
              knowledge in some articles.
            </div>
          </div>

        <div class="2xl:-mr-24 2xl:-ml-24 my-12">
          <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-12">

{{ $allSeries := .Site.Taxonomies.series.ByCount }}
{{ $latestSeries := first 4 $allSeries }}
{{ range $series := $latestSeries }}
  {{ $series_name := $series.Name }}
  {{ $series_path := (printf "/series/%s" (urlize $series.Name)) }}
  {{ $series_page := site.GetPage $series_path }}
  {{ if $series_page }}
    
      <a href="{{ $series_path | relLangURL }}">
        <div class="flex-center shadow-glow bg-gradient-radius to-teal-50 border border-teal-50 rounded-lg h-40 p-2 mb-2" >
          {{ if $series_page.Params.logo }}
          <img src="{{ $series_page.Params.logo }}" alt="{{ $series_name }} Logo" class="h-full object-contain" /> <!-- Adjust size as needed -->
        {{ else }}
          <img src="/images/hugo-go-hugo-static-website-builder-logo.svg" alt class="h-full object-contain" />
        {{ end}}
        </div>
        <div class="p-2">
          <p class="text-xl font-bold text-primary-500 leading-tight mb-2" >
            {{ $series_page.Title }} ({{ $series.Count }})<br>
          </p>
          <div class="text-md text-gray-600 leading-baggy">
            <p>
              {{ $series_page.Summary | default "No summary available." }}
            </p>
          </div>
        </div>
      </a>
  {{ end }}
{{ end }}

            </div>
          </div>
        </section>


        <div class="relative -mx-8 lg:-mx-40 xl:-mx-40 2xl:-mx-40 h-16 mb-32">
          <div class="overflow-hidden absolute-center -z-1">
            <div class="w-full h-full flex-center">
              <img
                src="images/img-separate-gradient.svg"
                loading="eager"
                alt
                class="hidden sm:block w-full min-w-[768px]"
              />
              <img
                src="images/img-separate.svg"
                loading="eager"
                alt
                class="block sm:hidden w-full min-w-[768px]"
              />
            </div>
          </div>
        </div>
        <section id="work-environment">
          <div class="w-full sm:w-2/3 text-center text-secondary-500 mx-auto mb-8">
            <h2 class="relative text-5xl font-bold leading-tense overflow-hidden mb-4" >
              <div id="strongworkingstrong-environment" class="absolute -top-28"></div>
              <strong>Working</strong> environment
            </h2>
            <div class="text-lg leading-normal">
              Right now my preferred developing architecture is
              <strong>
                <a class="inline-flex text-primary-500 hover:text-black font-bold underline px-px" href="https://jamstack.org/what-is-jamstack/" target="_blank" rel="nofollow">
                JAMstack
                  <span class="self-start h-4 w-4">
                    <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentcolor">
                      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
                      <path d="M5 5A2 2 0 003 7v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
                    </svg> 
                  </span>
                </a>
                </strong>- The modern way to build websites and applications to deliver better performance.
            </div>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-12 my-12">
            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img src="images/img-icon-logo-visual-studio-code.a8263fd8467a2b318f8db6d6089eeeb8be38eea44d5a415b1dde9c90fbdd8bea.png" alt class="w-full h-full"/>
              </div>
              <div class="text-sm leading-relaxed">
                <strong>Visual Studio Code</strong> - Code editing. Redefined. Free. Built on open source. Runs everywhere.
              </div>
            </div>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-git-hub.321735a873c35d55e3464db680e49785e57b58490f287492e67a3c0fd56f19fe.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm leading-relaxed">
                <strong>GitHub</strong> - is a provider of Internet hosting for
                software development and version control using Git. .
              </div>
            </div>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-azure-cloud.b8fc4096567f40d128306542ddf83e3898ff3c6540c29b33a3040992b952e620.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm text-gray-600 leading-relaxed">
                <strong>Azure Cloud</strong> - build, deploy, and scale
                applications, websites, and services on the same infrastructure
                as Google.
              </div>
            </div>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-markdown.2d134e3a12cf1263386e78ed8167d959a5732e3bdef2442fc54b56a3bbf9dbe9.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm text-gray-600 leading-relaxed">
                <strong>Markdown</strong> is a lightweight markup language for
                creating formatted text.
              </div>
            </div>

            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-hugo.acabedd9f5fc4391af9a2d5dc0eab2c587d25042ec72d412cb4bba1845fdb7e4.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm text-gray-600 leading-relaxed">
                <strong>HUGO</strong> - The world&rsquo;s fastest framework for
                building websites - one of the most popular open-source static
                site generators.
              </div>
            </div>

            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-node-js.4c22682186bb9fca0e9556819b69791e91b58fd6c68b3706834ce6aec6425ff0.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm leading-relaxed">
                <strong>Node.js</strong> is a JavaScript runtime built on the V8
                JavaScript engine from the Chrome browser.
              </div>
            </div>
            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-npm-js.87542830125f7df106c39948996e596345f472cdd5030467eb776a7002b332bb.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm leading-relaxed">
                <strong>npm</strong> - is the package manager for Node.js. It
                was created to help JavaScript developers easily share packaged
                modules.
              </div>
            </div>

            <div class="flex items-center">
              <div class="flex-shrink-0 w-14 h-14 mr-4">
                <img
                  src="images/img-icon-logo-tailwind-css.2a1ec9d5706c2c0081d521d55d1cbbdd383493985114702361e290ab82af94f6.png"
                  alt
                  class="w-full h-full"
                />
              </div>
              <div class="text-sm text-gray-600 leading-relaxed">
                <strong>Tailwind CSS</strong> - Rapidly build modern websites
                without ever leaving your HTML.
              </div>
            </div>

            
          </div>
        </section>
      </div>
{{- end -}}
