<section id="personal">
    <div
      class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12 sm:gap-x-20 lg:-mr-16 lg:-ml-16 mb-12"
    >
      <div class="relative pl-14 pt-8">
        <div class="absolute w-12 h-12 text-yellow-500 left-0 top-0">
          <svg
            class="w-full h-full"
            fill="currentcolor"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 512 512"
          >
            <path
              d="M464 32H336c-26.5.0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3.0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4.0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5.0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3.0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4.0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"
            ></path>
          </svg>
        </div>
        <p class="text-3xl font-medium leading-tense tracking-tense text-secondary-500 mb-4">
          Making Incredible Technology; Incredibly Simple</p>
        <p class="text-sm font-medium italic text-gray-500">
          &mdash; My Teaching Motto
        </p>
      </div>
      <div class="relative pl-14 pt-8">
        <div class="absolute w-12 h-12 text-yellow-500 left-0 top-0">
          <svg
            class="w-full h-full"
            fill="currentcolor"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 512 512"
          >
            <path
              d="M464 32H336c-26.5.0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3.0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4.0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5.0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3.0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4.0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"
            ></path>
          </svg>
        </div>
        <p
          class="text-3xl font-medium leading-tense tracking-tense text-secondary-500 mb-4"
        >
        Empower Through Sharing & Collaboration
        </p>
        <p class="text-sm font-medium italic text-gray-500">
          &mdash; My Community Motto
        </p>
      </div>
      <div class="relative pl-14 pt-8">
        <div class="absolute w-12 h-12 text-yellow-500 left-0 top-0">
          <svg
            class="w-full h-full"
            fill="currentcolor"
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 512 512"
          >
            <path
              d="M464 32H336c-26.5.0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3.0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4.0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5.0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3.0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4.0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z"
            ></path>
          </svg>
        </div>
        <p
          class="text-3xl font-medium leading-tense tracking-tense text-secondary-500 mb-4"
        >
        Building Authentic Connections for Positive Change
        </p>
        <p class="text-sm font-medium italic text-gray-500">
          &mdash; My Networking Motto
        </p>
      </div>
    </div>
  </section>

  <div class="relative -mx-8 lg:-mx-40 xl:-mx-40 2xl:-mx-40 h-16 mb-32">
    <div class="overflow-hidden absolute-center -z-1">
      <div class="w-full h-full flex-center">
        <img
          src="images/img-separate-gradient.svg"
          loading="eager"
          alt
          class="hidden sm:block w-full min-w-[768px]"
        />
        <img
          src="images/img-separate.svg"
          loading="eager"
          alt
          class="block sm:hidden w-full min-w-[768px]"
        />
      </div>
    </div>
  </div>