{{- $profile := .Site.Params.home.profile -}}
<div class="pt-16 sm:pt-20 lg:pt-24 xl:pt-28 isolate overflow-hidden">
    <div
      class="flex flex-col lg:flex-row w-full max-w-screen-2xl mx-auto text-white px-12 lg:pl-40 xl:pr-0 pt-14 xl:pt-24 lg:pb-24 isolate"
    >
      <div class="max-w-2xl lg:max-w-4xl">
        <div class="text-7xl leading-shrink font-extrabold mb-4 break-hyphen sm:no-break-hyphen">
        Digital Innovator,<br />and Technology Advocate
        </div>
        <p class="text-2xl leading-snug break-hyphen mb-12">
          Inspired by the rich tapestry of global cultures, I embody the spirit
          of innovation and collaboration. With roots in the vibrant landscapes
          of Ireland, I blend the charm of European ingenuity with the dynamic
          energy of the digital world. My journey is fueled by a passion for
          simplifying complex technologies and empowering others to harness 
          their potential. Here I stand, eager to embrace every challenge, 
          every opportunity to create impactful solutions, and to inspire a
          community of forward-thinkers.
        </p>
      </div>
      <div
        class="relative flex-shrink-0 max-w-lg max-h-screen-1/2 md:max-h-full overflow-hidden md:overflow-visible lg:max-w-2xl lg:w-1/2 transform scale-110 md:transform-none -z-1"
      >
        <img
          src="images/portrait-damian-flynn-side.png"
          alt
          class="w-full lg:absolute-center"
        />
      </div>
    </div>
  </div>
  <div class="absolute inset-x-0 -bottom-72 h-96">
    <div class="w-full h-full flex-center overflow-hidden">
      <img
        src="images/img-exclude.svg"
        alt
        class="w-full h-full min-w-[768px]"
      />
    </div>
  </div>
</div>